node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.vscode
.nvmrc
.editorconfig
.eslint*
.prettier*
.next
out
*.log
.DS_Store
.dockerignore
Dockerfile
.docker
.yarn
.cache
npm-shrinkwrap.json
yarn-error.log